/* Regular */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat'), url('https://static.rambler.ru/fonts/Montserrat/ios14-osx11-fix/regular.woff') format('woff');
}

/* Medium */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat'), url('https://static.rambler.ru/fonts/Montserrat/ios14-osx11-fix/medium.woff') format('woff');
}

/* Semibold */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat'), url('https://static.rambler.ru/fonts/Montserrat/ios14-osx11-fix/semibold.woff') format('woff');
}

/* Bold */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat'), url('https://static.rambler.ru/fonts/Montserrat/ios14-osx11-fix/bold.woff') format('woff');
}

/* Extrabold */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: local('Montserrat'), url('https://static.rambler.ru/fonts/Montserrat/ios14-osx11-fix/extrabold.woff') format('woff');
}

/* Black */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: local('Montserrat'), url('https://static.rambler.ru/fonts/Montserrat/ios14-osx11-fix/black.woff') format('woff');
}
